@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");
/* font-family: "Nunito", sans-serif; */
/* font-weight: 200-1000 */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
}
button,
input,
optgroup,
select,
textarea {
  background: none;
  outline: none;
  border: none;
}
fieldset {
  border: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* ------------reusable classes------------------ */
.container {
}
.section__heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}
/* -----------  Navbar  ------------- */
.navbar {
  width: 100%;
  height: 14rem;
  background-color: #000;
  position: fixed;
  top: -14rem;
  left: 0;
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #000;
  transition: all 0.4s;
}
.navbar.change {
  top: 0;
}
.navbar__link {
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.navbar__link:hover {
  color: #a79a2d;
}
.navbar.change .navbar__link {
  opacity: 1;
}
.navbar.change .navbar__link:nth-child(1) {
  transition: opacity 1s, color 0.3s;
}
.navbar.change .navbar__link:nth-child(2) {
  transition: opacity 2s, color 0.3s;
}
.navbar.change .navbar__link:nth-child(3) {
  transition: opacity 3s, color 0.3s;
}
.navbar.change .navbar__link:nth-child(4) {
  transition: opacity 4s, color 0.3s;
}
.navbar.change .navbar__link:nth-child(5) {
  transition: opacity 5s, color 0.3s;
}
.navbar__link i {
  font-size: 7rem;
}
.navbar__link span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}
.menu {
  width: 4rem;
  height: 6rem;
  background-color: #000;
  position: fixed;
  top: 1rem;
  left: 5rem;
  border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #000;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 50;
}
.menu.change {
  top: 15rem;
}
.menu::before {
  content: "";
  position: absolute;
  top: -15rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.3rem;
  height: 15rem;
  background-color: #000;
  box-shadow: 0.1rem 0.1rem 0.1rem #000;
}
/*------------ Section 1 ----------- */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section-1__icons {
}
.section-1__icons i {
  font-size: 25rem;
  color: #a79a2d;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  transform: scale(0);
  transition: transform 0.3s;
}
.section-1__icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s;
}

/*------------ Section 2 ----------- */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0;
}
.section-2__heading {
}
.section-2__cards--container {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}
.card {
  width: 30rem;
  background-color: #a79a2d;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 1rem 1rem 3rem #000;
  transform: skew(-2deg);

  position: relative;
  transition: all 0.5s;
}
.card:hover {
  transform: translateY(-2rem) skew(-2deg);
  box-shadow: 2rem 2rem 3rem #000;
}
.card::before {
  content: "";
  position: absolute;
  top: -0.4rem;
  left: -1rem;
  width: 1rem;
  height: 100%;
  background-color: #817824;
  transform: skewY(45deg);
}
.card::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 100%;
  height: 1rem;
  background-color: #817824;
  /* transform: skewY(45deg); */
}
.card__img {
}
.card__name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #111;
  text-shadow: 0.15rem 0.15rem 0.15rem #000;
}
.card__btn {
  width: 70%;
  background-color: #111;
  color: #888;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  padding: 0.5rem 0;
  box-shadow: -0.2rem -0.2rem 0.2rem #000;
  transition: all 0.3s;
}
.card__btn:hover {
  color: #a79a2d;
}

/*------------ Section 3 ----------- */
.section-3 {
  background-color: #333;
  padding: 5rem 0;
}
.section__heading {
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 10rem;
}
.gallery__link {
  position: relative;
  margin: 1rem;
}
.gallery__link::before {
  content: "";
  position: absolute;
  top: 2vw;
  left: 80%;
  width: 0.2rem;
  height: 80%;
  background-color: #fff;
  transform: scale(0);
  z-index: 5;
}
.gallery__link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 80%;
  height: 0.2rem;
  background-color: #fff;
  transform: scale(0);
  z-index: 5;
}
.gallery__link--img {
  width: 24vw;
  height: 30vh;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929;
}
.food__name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  transform: scale(0);
}
.food__text {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  transform: scale(0);
}
.gallery__link:hover::before,
.gallery__link:hover::after {
  transform: scale(1);
  transition: all 0.5s;
}
.gallery__link:hover .food__name,
.gallery__link:hover .food__text {
  transform: scale(1);
  transition: all 1s ease-out;
}
.gallery__link:hover .gallery__link--img {
  transition: all 0.3s;
  filter: brightness(0.4);
  transform: scale(1.05);
  box-shadow: 0.5rem 0.5rem 0.1rem #e92929;
}
/*------------ Section 4 (footer)----------- */
.section-4 {
  width: 100%;
  height: 50vh;
  background-color: #222;
  /* color: #fff; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem 0;
  position: relative;
}
.section-4__text {
  text-transform: uppercase;
}
.section-4__text--heading {
  font-size: 4rem;
  font-weight: 900;
  color: #a79a2d;
}
.section-4__text--para {
  font-size: 1.5rem;
  color: #888;
}
.form {
  /* flex-basis: 35rem; */
  display: flex;
  align-items: center;
}
.form__input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid #a79a2d;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #fff;
}
.form__input::placeholder {
  color: #a79a2d;
}
.form__input--btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #333;
  color: #a79a2d;
  border: none;
  font-size: 1.8rem;
}
.form__input--btn i {
}
.copyright {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #eee;
  border-top: 0.1rem solid #888;
  padding-top: 6rem;
}

/* Responsive --- Media queries */
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
  .section-2 {
    height: auto;
    padding: 10rem 0 12rem 0;
    gap: 10rem;
  }
  .gallery__link {
    width: 40rem;
    height: 25rem;
    margin: 5rem;
  }
  .gallery__link--img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .section__heading {
    font-size: 9rem;
    margin: 0 5rem;
  }
  .section-1__icons i {
    font-size: 25rem;
  }
  .section-2__cards--container {
    flex-wrap: wrap;
    gap: 5rem;
  }
  .section-4 {
    height: 30rem;
  }
}
@media (max-width: 900px) {
  .navbar__link i {
    font-size: 4rem;
  }
  .navbar__link span {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .section__heading {
    font-size: 7rem;
    margin: 0 17rem;
  }
  .section-1__icons i {
    font-size: 20rem;
  }
  .menu {
    left: 2rem;
  }
  .section-4 {
    height: 40rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7rem;
  }
  .section-4__text {
    text-align: center;
  }
  .form {
    margin-left: 4.5rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
  .navbar {
    gap: 2rem;
  }
}
